@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400&display=swap');

body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(45deg, #2694c7, #a4d6ed);
    overflow: hidden; 
    overflow-x: hidden;
    overflow-y: hidden; 
}

h1{
    font-family: "Fredoka", sans-serif;
    color: white;
    text-align: center;
    font-size: 120pt;
    text-shadow:
    -10px -1px 0 #444444; 

    animation-name: bounce;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

h2{
    font-family: 'Sniglet', cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25pt;
    text-shadow: 3px 3px #444444;;
    margin-bottom: 0%;
}

.motd{
    margin-top: -7%;
}


.banner{
    z-index : -1;
    position: bottom;
    width: 100%;
    height: 0vh;
    max-height: 100%;
}

.banner .clouds{
    z-index : -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner .clouds img{
    pointer-events: none;
    z-index : -1;
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: cloudsecond calc(8s * var(--i)) linear infinite;
}

.footer {   
    z-index : -1;
    position:fixed;
    left:0px;
    bottom:0px;
    width:150%;
 }

@keyframes bounce{
    20%,50%,80%,to{
        transform: translateY(40);
    }
    40%{
        transform: translateY(-30px);
    }
}
@keyframes cloudfirst{
    0%{
        transform:translateX();
    }
    100%{
        transform:translateX(100%);
    }
}

@keyframes cloudsecond{
    0%{
        transform:translateX(-100%);
    }
    100%{
        transform:translateX(100%);
    }
}

input{
    text-indent: 4%;
    font-size: 35px;
    color: #363636;
    border: 3px solid #444444;
    border-radius: 30px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
}

.loginform{
    
    text-align: center;
    margin-top: 3.5%;
    position: relative;
    font-size: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.button {
  width: 5000px;
  height: 50%;
  font-size:50px;
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  justify-content: center;
  max-width: 450px;
  min-height: 60px;
  min-width: 0px;
  vertical-align: middle;
}


.button:hover,
.button:focus { 
  background-color: #1376da;
  color: #ffffff;
  cursor: pointer; 
}

.button:active {
  background: #0A66C2;
}

.register{
    background:rgb(52, 139, 30);
}

.register:hover,
.register:focus,
.register:active { 
  background-color: rgb(78, 179, 53);
  color: #ffffff;
  cursor: pointer;
}

/* from stackoverflow */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.link{
    text-align: center;
    position: relative;
    font-size: 20px;
    font-family: 'Sniglet', cursive;
    color: #363636;
    text-align: center;
    margin-top: 1%;
}

a:visited { 
    text-decoration: none; 
    color: #363636; 
   }

.errormessage{
    position: relative;
    text-align: center;
    margin-bottom: -1%;
}
.errortext{
    font-size: 30px;
    font-family: 'Sniglet', cursive;
    color: #363636;
    text-align: center;
}